


.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
 border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;


}
.secondary-bg{
    background-color: #ebcfbb;

}

.section-description1{
    font-size:18px ;
    color:#757575 ;
}
.item-title{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 15px;
    font-weight: bold;
    color:#757575;
}
.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}

.banner-contant{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font: 600;
}

.banner-title{
    font-size: bold;

    font-weight: 900;
}
.banner-profle-pic{
    width: 580px;
}

/* main */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px 230px 0 230px;}

    .about-items{
        display: flex;
        justify-content: space-around;
    }
    /* skills */
    .skills-contrainer{
        display: flex;
        gap: 24px;
    }
    .skills-section{
        
        background-color: #dfc6c6;
        padding: 104px 33px 30px 30px;
        border-radius: 5px;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
        margin-top: 50px;
    }
    .section-description{
        padding: 3px;
       margin-left: 300px;
       margin-right: 300px;
       text-align: center;

    }
    /* resume */
   .resume-container{
    display: flex;
    gap: 71px;
    margin: 13px 150px 50px 230px;
   }
   .experience-description{color: #757575;
    font-size: 16px;

   }
   .experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 5px;
    
   }
   .experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
   }
   .resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    
   }
   .section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 13px;
   }
  .btn-download-cv{
    text-align: center;
    margin-top: 50px;}
